### Windows
Thumbs.db
ehthumbs.db

### Linux
*~

### JetBrains
.idea/

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

## NodeJS
/node_modules/
